<div>
  <p>
    <%= pie_chart(@data) %>
  </p>
  <p>target: <%= @target_url %></p>
</div>
<div>
  <form method="POST" action="/">
    <p>Target:<input type="text" name="target_url" value="https://status.shopify.com"></p>
  </form>
</div>
