<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <script src="//www.google.com/jsapi"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.1.0/chartkick.min.js"></script>
  </head>
  <body>
    <div class="container">
        <%= yield %>
    </div><!-- .container -->
  </body>
</html>
